@model ioschools.Models.eca.stats.ECAStatistic
<h3 class="fl">ECA Demographic (@Model.school.ToString().ToLower())</h3>
<div class="fr">
<form id="statsExportForm" method="post" action="/eca/exportstats">
@Html.Hidden("school", Model.school.ToString())
@Html.Hidden("year", Model.year)
<button id="statExport" type="submit">export <img src="/Content/img/icons/continue.png" class="am" /></button>
</form>
</div>
<div class="clear_right"></div>
<table class="table_grey">
<thead><tr><td>ECA Name</td><td>M</td><td>F</td></tr></thead>
<tbody>
@foreach (var entry in Model.entries.OrderBy(x => x.name))
{
  <tr><td>@entry.name</td><td>@entry.male</td><td>@entry.female</td></tr>
} 
</tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('#statExport').click(function () {
            var ok = window.confirm('Export statistics to excel?');
            if (!ok) {
                return false;
            }
            $(this).trigger('submit');
        });
    });
</script>


